
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f8f9fa;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login h4 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}


.login input[type="text"],
.login input[type="password"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.img{
    position: relative;
    top: -140px;
    left: 20%;
}

.login button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #F1C439;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login button:hover {
    background-color: #F1C439;
}

.login a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #666;
    margin-top: 10px;
}
