
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f8f9fa;
}


.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signup {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup h4 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.signup input[type="text"],
.signup input[type="password"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.signup button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #DB5947;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.signup button:hover {
    background-color: #DB5947;
}


.signup a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #666;
    margin-top: 10px;
}
